<mat-card class="liquor">
    <mat-card-content>
        <div class="example-action-buttons">
            <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button>
            &nbsp;
            <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row content">
                    <div class="col-3 col-lg-3">
                        <mat-card class="cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon> business</mat-icon>
                                </div>
                                <mat-card-title>Cửa khẩu: 
                                    </mat-card-title>
                                    <br>
                                <mat-card-subtitle class="value">
                                    <strong>{{cua_khau}}</strong>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-card class="cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon> equalizer</mat-icon>
                                </div>
                                <mat-card-title>Tháng thực hiện: 
                                    </mat-card-title>
                                <mat-card-subtitle class="value">
                                    <strong>{{curentmonth}}</strong>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Tháng thực hiện</mat-label>
                            
                            <mat-select (selectionChange)="selectMonth($event.value)" [(ngModel)]="curentmonth">
                                <mat-option *ngFor='let month of months' [value]='month'>{{month}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Cửa khẩu</mat-label>
                            <mat-select (selectionChange)="selectGate($event.value)" [(ngModel)]="id_cua_khau">
                                <mat-option *ngFor='let gate of danh_sach_cua_khau' [value]='gate.id_cua_khau'>{{gate.ten_cua_khau}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                        </mat-checkbox>
                    </div> -->
                </div>

                <div class="auto mat-elevation-z1">
                    <mat-form-field class="filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSourceI" #table>
                        
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                           
                        </ng-container>

                        <ng-container matColumnDef="id_mat_hang_xnk">
                            <th mat-header-cell *matHeaderCellDef> Loại hình </th>
                            <td mat-cell *matCellDef="let element" class="ten-hang" > {{element.id_mat_hang_xnk}}</td>
                        </ng-container>

                        <ng-container matColumnDef="so_luong">
                            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                            <td mat-cell *matCellDef="let element" class="luong"> {{element.so_luong}}</td>
                            
                        </ng-container>

                        <ng-container matColumnDef="don_vi">
                            <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
                            <td mat-cell *matCellDef="let element" class="gia-tri"> {{element.don_vi}}</td>
                            
                        </ng-container>

                        <ng-container matColumnDef="kim_ngach">
                            <th mat-header-cell *matHeaderCellDef> Kim ngạch (USD)</th>
                            <td mat-cell *matCellDef="let element" class="luong"> {{element.kim_ngach}}</td>
                            
                        </ng-container>

                        <ng-container matColumnDef="ten_doanh_nghiep">
                            <th mat-header-cell *matHeaderCellDef> Tên các Doanh nghiệp có giá trị kim ngạch lớn</th>
                            <td mat-cell *matCellDef="let element" class="gia-tri">
                                {{element.ten_doanh_nghiep}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index; "></tr>

                        <!-- Group header -->
                        <ng-container matColumnDef="groupHeader">
                            <td colspan="999" mat-cell *matCellDef="let groupBy" style="text-align: left;margin-left: 1em;"><strong >{{groupBy.group_name}}</strong></td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"></tr>
                    </table>
                </div>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>