<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> swap_calls</mat-icon>
            LĨNH VỰC TƯ VẤN CHUYÊN NGÀNH ĐIỆN
        </ng-template>
        <app-consultant-electric></app-consultant-electric>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>select_all</mat-icon>
            LĨNH VỰC SẢN XUẤT, TRUYỀN TẢI VÀ PHÂN PHỐI ĐIỆN TẠI ĐỊA PHƯƠNG 
        </ng-template>
        <app-manufacturing-electronic></app-manufacturing-electronic>
    </mat-tab>
</mat-tab-group>