<mat-card class="material">
    <mat-card-content>
        <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4 col-lg-4">
                    </div>

                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon> business</mat-icon> Số lượng doanh nghiệp trên địa bàn:
                                </mat-card-title>
                                <mat-card-subtitle>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{dataSource.data.length}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>

                            <mat-select [(ngModel)]="filterModel.id_quan_huyen" (selectionChange)="applyFilter()"
                                multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Tình trạng đầu tư hạ tầng</mat-label>
                            <mat-select [(ngModel)]="filterModel.id_hien_trang_ht" (selectionChange)="applyFilter()"
                                multiple>
                                <mat-option *ngFor='let hienTrang of hienTrangHaTang' [value]='hienTrang.id'>
                                    {{hienTrang.ten_hien_trang_ha_tang}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Tình trạng đầu tư hệ thống XLNT</mat-label>
                            <mat-select [(ngModel)]="filterModel.id_hien_trang_xlnt" (selectionChange)="applyFilter()"
                                multiple>
                                <mat-option *ngFor='let hienTrang of hienTrangXLNT' [value]='hienTrang.id'>
                                    {{hienTrang.ten_hien_trang_xlnt}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)=" changeTable($event)" [ngModel]="isChecked">Xem đầy đủ</mat-checkbox>
                    </div>
                </div>

                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty">
                    <!-- <mat-form-field id="{{showColumns.length == 5 ? 'filter': 'filter2'}}">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field> -->

                    <table mat-table [dataSource]="filteredDataSource"
                        id="{{showColumns.length == 5 ? 'small-table': 'small-table2'}}" #table class="table-layout">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_cum_cn" sticky>
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tên, địa điểm CCN </th>
                            <td mat-cell *matCellDef="let element" id="jump">
                                <div class="view-detail" (click)="openDetailCluster(element.id)">{{element.ten_cum_cn}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dien_tich_qh">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Diện tích theo quy hoạch (ha)
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.dien_tich_qh}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dien_tich_tl">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Diện tích đã thành lập(ha) </th>
                            <td mat-cell *matCellDef="let element"> {{element.dien_tich_tl}}</td>
                        </ng-container>

                        <ng-container matColumnDef="chu_dau_tu">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Chủ đầu tư </th>
                            <td mat-cell *matCellDef="let element"> {{element.chu_dau_tu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dien_tich_qhct">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Diện tích đã QHCT </th>
                            <td mat-cell *matCellDef="let element"> {{element.dien_tich_qhct}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dien_tich_da_dang_dau_tu">
                            <th mat-header-cell *matHeaderCellDef> Diện tích đã và đang ĐT HT </th>
                            <td mat-cell *matCellDef="let element"> {{element.dien_tich_da_dang_dau_tu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_hien_trang_ha_tang">
                            <th mat-header-cell *matHeaderCellDef> Hiện trạng đầu tư hạ tầng </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_hien_trang_ha_tang}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_hien_trang_xlnt">
                            <th mat-header-cell *matHeaderCellDef> Hiện trạng đầu tư hệ thống XLNT chung </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_hien_trang_xlnt}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tong_von_dau_tu">
                            <th mat-header-cell *matHeaderCellDef> Tổng vốn đầu tư (tỷ đồng) </th>
                            <td mat-cell *matCellDef="let element"> {{element.tong_von_dau_tu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tinh_hinh_dau_tu">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Tình hình đầu tư hạ tầng CCN </th>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="showColumns; sticky : true"></tr>
                        <tr mat-header-row *matHeaderRowDef="showSubColumns; sticky : true"></tr>
                        <tr mat-row *matRowDef="let row; columns: showColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h3>Không có dữ liệu</h3>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>