<mat-card class="material">
    <mat-card-content>
        <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Số lượng thuỷ điện:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{soLuongDoanhNghiep| number:'1.0-0'}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Doanh thu hằng năm (tỷ đồng):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{doanhThu| number:'1.0-2'}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <!-- <div class="col col-lg-3">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng công suất(MW):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{congXuat| number:'1.0-2'}}
                            </mat-card-content>
                        </mat-card>
                    </div> -->
                    <div class="col col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng sản lượng năm(triệu KW):
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanluongnam| number:'1.0-2'}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-lg-3">
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="getValueOfHydroElectric($event.value)" [value]="2020">
                                <mat-option *ngFor='let year of years' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>

                    <div class="col-lg-3">
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>

                    <div class="col-lg-3 checkbox">
                        <!-- <mat-checkbox (change)="applyActionCheck($event)" [ngModel]="isChecked">Thuỷ điện đang xây dựng
                        </mat-checkbox> -->
                    </div>

                    <div class="col-lg-3 button-control">
                        <button mat-raised-button (click)="exportExcel()">Xuất Excel</button>
                    </div>
                </div>

                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>
                    <mat-form-field id="large-filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="filteredDataSource" #table class="table-layout">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class="center-cell">{{i+1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Tdn" sticky>
                            <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"> {{element.Tdn}}</td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dd">
                            <th mat-header-cell *matHeaderCellDef> Địa điểm </th>
                            <td mat-cell *matCellDef="let element"> {{element.Dd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Cx">
                            <th mat-header-cell *matHeaderCellDef> Công xuất thiết kế/năm
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.Cx}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Lnxbq">
                            <th mat-header-cell *matHeaderCellDef> Công suất thiết kế/năm <br> (MW) </th>
                            <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dthc">
                            <th mat-header-cell *matHeaderCellDef> Dung tích hồ chứa 106 m3
                            <td mat-cell *matCellDef="let element"> {{element.Dthc}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sl6tck">
                            <th mat-header-cell *matHeaderCellDef> Sản lượng 6 tháng/cùng kỳ
                                (triệu KW) </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.Sl6tck}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Slnck">
                            <th mat-header-cell *matHeaderCellDef>Sản lượng năm/cùng kỳ
                                (triệu KW)
                            <td mat-cell *matCellDef="let element"> {{element.Slnck}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Dt">
                            <th mat-header-cell *matHeaderCellDef> Doanh thu </th>
                            <td mat-cell *matCellDef="let element"> {{element.Dt }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="trang_thai">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái hoạt động </th>
                            <td mat-cell *matCellDef="let element"> {{element.trang_thai }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Paupttcctvhd">
                            <th mat-header-cell *matHeaderCellDef> Phương án ứng phó thiên tai cho công trình vùng hạ du
                                (trong gđ thi công) </th>
                            <td mat-cell *matCellDef="let element"> {{element.Paupttcctvhd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Pdpauptt">
                            <th mat-header-cell *matHeaderCellDef> Phê duyệt pương án ứng phó thiên tai (năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.Pdpauptt}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Paupvthkcdhctd">
                            <th mat-header-cell *matHeaderCellDef> Phương án ứng phó với tình huống khẩn cấp đập, hồ
                                chứa thủy điện (năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.Paupvthkcdhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Qtvhhctd">
                            <th mat-header-cell *matHeaderCellDef> Quy trình vận hành hồ chứa thủy điện (khi có thay
                                đổi) </th>
                            <td mat-cell *matCellDef="let element"> {{element.Qtvhhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Qtdhctd">
                            <th mat-header-cell *matHeaderCellDef> Quan trắc đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.Qtdhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Kdd">
                            <th mat-header-cell *matHeaderCellDef> Kiểm định đập (5 năm/lần) </th>
                            <td mat-cell *matCellDef="let element"> {{element.Kdd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Ldhtcbvhd">
                            <th mat-header-cell *matHeaderCellDef> Lắp đặt hệ thống cảnh báo vùng hạ du </th>
                            <td mat-cell *matCellDef="let element"> {{element.Ldhtcbvhd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Btct">
                            <th mat-header-cell *matHeaderCellDef> Bảo trì công trình </th>
                            <td mat-cell *matCellDef="let element"> {{element.Btct}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Lcsdlhctd">
                            <th mat-header-cell *matHeaderCellDef> Lập cơ sở dữ liệu hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.Lcsdlhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Pabvdhctd">
                            <th mat-header-cell *matHeaderCellDef> Phương án bảo vệ đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.Pabvdhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bcdgatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Báo cáo đánh giá an toàn đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.Bcdgatdhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Bchtatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Báo cáo hiện trạng an toàn đập, hồ chứa thủy điện
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.Bchtatdhctd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Tkdkatdhctd">
                            <th mat-header-cell *matHeaderCellDef> Tờ khai đăng ký an toàn đập, hồ chứa thủy điện </th>
                            <td mat-cell *matCellDef="let element"> {{element.Tkdkatdhctd}}</td>
                        </ng-container>

                        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>

                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>