<mat-card>
    <mat-card-header>
        <mat-card-title><strong>
                <h2>Số liệu xuất khẩu</h2>
            </strong></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-2">
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Thời gian</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>Thời gian</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" (dateChange)="addEvent('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-10" style="text-align: right;">
                <button mat-raised-button [ngStyle]="{'background-color': 'green', 'color': 'white'}"
                    (click)="exportTOExcel('ThongTinXuatKhau',timeDomesticPrice)">Xuất Excel</button>
            </div>
        </div>
        <div class="mat-elevation-z8" #TABLE>
            <mat-form-field>
                <mat-label>Lọc dữ liệu</mat-label>
                <input id="inputt" matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <th mat-header-cell style="text-align: center;" *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="ten_san_pham">
                    <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Tên sản phẩm </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_san_pham}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> Tổng cộng </td>
                </ng-container>

                <!-- <ng-container matColumnDef="don_vi_tinh">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị tính </th>
                    <td mat-cell *matCellDef="let element"> {{element.don_vi_tinh}} </td>
                </ng-container> -->

                <ng-container matColumnDef="san_luong">
                    <th mat-header-cell *matHeaderCellDef> Sản lượng <br> (nghìn tấn)</th>
                    <td mat-cell *matCellDef="let element"> {{element.san_luong | number:'1.0-4'| ZeroAsSub}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{sumSL() | number:'1.0-4'| ZeroAsSub}} </td>
                </ng-container>

                <ng-container matColumnDef="tri_gia">
                    <th mat-header-cell *matHeaderCellDef> Trị giá <br> (nghìn USD) </th>
                    <td mat-cell *matCellDef="let element"> {{element.tri_gia | number:'1.0-4'| ZeroAsSub}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{sumTG() | number:'1.0-4'| ZeroAsSub}} </td>
                </ng-container>

                <ng-container matColumnDef="san_luong_ct">
                    <th mat-header-cell *matHeaderCellDef> Sản lượng <br> (nghìn tấn)</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.san_luong_ct | number:'1.0-4'| ZeroAsSub}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{sumSLCT() | number:'1.0-4'| ZeroAsSub}} </td>
                </ng-container>

                <ng-container matColumnDef="tri_gia_ct">
                    <th mat-header-cell *matHeaderCellDef> Trị giá <br> (nghìn USD) </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.tri_gia_ct | number:'1.0-4'| ZeroAsSub}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{sumTGCT() | number:'1.0-4'| ZeroAsSub}} </td>
                </ng-container>

                <ng-container matColumnDef="top_xuat_khau">
                    <th mat-header-cell *matHeaderCellDef> TOP DN<br>Xuất khẩu </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon (click)="openCompanyTopPopup(element)">emoji_events</mat-icon>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="ma_va_ten">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="2">
                </ng-container>

                <ng-container matColumnDef="so_lieu_tam_thoi">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="2">
                        Số liệu tạm thời <br> (Nguồn số liệu từ Cục hải quan Bình Phước) </th>
                </ng-container>
                <ng-container matColumnDef="so_lieu_chinh_thuc">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="2">
                        Số liệu chính thức<br> (Nguồn số liệu từ Tổng cục Hải quan) </th>
                </ng-container>
                <ng-container matColumnDef="top_xuat_khau_header">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1">
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['ma_va_ten','so_lieu_tam_thoi', 'so_lieu_chinh_thuc','top_xuat_khau_header']">
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
<!-- <hr>
<mat-card>
    <mat-card-header>
        <mat-card-title><strong>
                <h2>Tình hình xuất khẩu trong năm</h2>
            </strong></mat-card-title>
        <mat-card-subtitle>Năm: {{chartYearModelSelected}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-2">
                <label for="year_select">Năm xem giá cả</label>
                <select class="form-control" name="" id="year_select" (change)="changeYear()"
                    [(ngModel)]="chartYearModelSelected">
                    <option *ngFor="let year of chartyears" [ngValue]="year">{{year}}</option>
                </select>
            </div>
            <div class="col-lg-10" style="text-align: right;">
            </div>
        </div>
        <hr>
        <img style="width: 100%;" src="assets/img/example/domesticPrice.png" alt="Biểu đồ hiển thị thử">
    </mat-card-content>
</mat-card> -->