<mat-card class="material">
    <mat-card-content>
        <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button> &nbsp;
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <!-- <div mat-card-avatar>
                                </div> -->
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số lượng DN:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{this.filteredDataSource.filteredData.length | number: '1.0-0'}} doanh nghiệp
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <!-- <div mat-card-avatar>
                                </div> -->
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng sản lượng bán ra:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{sanLuongBanRa | number: '1.0-0'}} lít
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-4 col-lg-4">
                        <mat-card class="card1">
                            <mat-card-header>
                                <!-- <div mat-card-avatar>
                                </div> -->
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng giá trị sản phẩm:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{giaTriSanPham | number: '1.0-0'}} triệu đồng
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="getDanhSachBanRuou($event.value)" [value]="2020">
                                <mat-option *ngFor='let year of years' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 checkbox">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                        </mat-checkbox>
                    </div>

                    <div class="col-lg-3 button-control">
                        <button mat-raised-button (click)="ExportTOExcel('KDCĐK - Rượu bia','Rượu bia')">Xuất
                            Excel</button>
                    </div>
                </div>

                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #table>
                    <mat-form-field id="filter2">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="filteredDataSource" #table class="table-layout" id="small-table2">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_doanh_nghiep" sticky>
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_doanh_nghiep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dien_thoai">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.dien_thoai}}</td>
                        </ng-container>

                        <ng-container matColumnDef="so_giay_phep">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Số giấy phép </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_giay_phep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap| date:'dd/MM/yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ngay_het_han| date:'dd/MM/yyyy'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="danh_sach_thuong_nhan">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Thương nhân cung cấp rượu </th>
                            <td mat-cell *matCellDef="let element">{{element.danh_sach_thuong_nhan}}</td>
                        </ng-container>

                        <ng-container matColumnDef="san_luong">
                            <th mat-header-cell *matHeaderCellDef> Số lượng (Lít) </th>
                            <td mat-cell *matCellDef="let element"> {{element.san_luong | number: '1.0-4'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tri_gia">
                            <th mat-header-cell *matHeaderCellDef> Trị giá (1000 đ) </th>
                            <td mat-cell *matCellDef="let element"> {{element.tri_gia | number: '1.0-4'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="san_luong_ban_ra">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Bán trong năm </th>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['index', 'mst', 'ten_doanh_nghiep', 'dia_chi', 'dien_thoai', 'so_giay_phep', 'ngay_cap','ngay_het_han', 'danh_sach_thuong_nhan', 'san_luong_ban_ra']; sticky : true">
                        </tr>
                        <tr mat-header-row *matHeaderRowDef="['san_luong', 'tri_gia']; sticky : true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>

                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>