<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>gavel</mat-icon>
            CHỢ
        </ng-template>
        <app-market-commecial></app-market-commecial>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>shopping_cart</mat-icon>
            SIÊU THỊ
        </ng-template>
        <app-supermarket-commecial></app-supermarket-commecial>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>shop_two</mat-icon>
            TRUNG TÂM THƯƠNG MẠI
        </ng-template>
        <app-shoppingcentre></app-shoppingcentre>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>store</mat-icon>
            CỬA HÀNG TIỆN LỢI
        </ng-template>
        <app-stores-commecial></app-stores-commecial>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> local_pizza</mat-icon>
            KINH DOANH THỰC PHẨM
        </ng-template>
        <app-food-commecial></app-food-commecial>
    </mat-tab>
</mat-tab-group>