<div class="{{styleOfScss}}">
    <mat-toolbar class="mat-elevation-z5 main-contain">
        <mat-toolbar-row>
            <div class="navbar-brand">
                <a class="navbar-item" (click)="openHome()" [routerLink]="['/']" routerLinkActive="router-link-active">
                    <img class="logo" src="assets/img/brand/logo.svg">
                </a>
            </div>
            <h1><strong>SỞ CÔNG THƯƠNG - {{module_control}}</strong></h1>
            <div class="spacer"></div>
            <div *ngIf="!checkLogin() else divUser" class="btn-color">
                <a mat-raised-button class="btn-sct-page" href="http://socongthuongbp.gov.vn/" target="blank">
                    <mat-icon>domain</mat-icon> Trang chủ SCT
                </a>
                <a mat-raised-button class="btn-company" [routerLink]="['/register']">Doanh nghiệp đăng ký</a>

                <a mat-raised-button class="btn-login" (click)="loginClick()">Đăng
                    nhập</a>
            </div>
            <ng-template #divUser>
                <div class="btn-color">
                    <a mat-raised-button class="btn-sct-page" href="http://socongthuongbp.gov.vn/" target="blank">
                        <mat-icon>domain</mat-icon> Trang chủ SCT
                    </a>
                    <a (click)="openAccountDropdown()" class="user-menu">
                        <img class="avatar" src="{{img_avatar}}" alt="{{userName}}">
                        <span id='userName'>{{ userName }} </span>
                    </a>

                    <div class="dropdown-content" [style.display]="this.open ? 'block' : 'none' ">
                        <div id="text-btn">
                            <mat-icon>account_box</mat-icon>
                            <span (click)="openForm()">Thông tin tài khoản</span>
                        </div>
                        <!-- <ng-container *ngIf="expression; else elseTemplate"> -->
                        <ng-container>
                            <div id="text-btn">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openManagerModule()">Quản lý thị trường</span>
                            </div>
                        </ng-container>
                        <!-- <ng-template #elseTemplate> -->
                        <ng-container>
                            <div id="text-btn">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openSpecializedModule()">Dữ liệu chuyên ngành</span>
                            </div>
                        </ng-container>
                        <ng-container>
                            <div id="text-btn">
                                <mat-icon>wysiwyg</mat-icon>
                                <span (click)="openReportModule()">Quản lý báo cáo</span>
                            </div>
                        </ng-container>
                        <!-- </ng-template> -->
                        <div id="text-btn">
                            <mat-icon>login</mat-icon>
                            <span (click)="logout()">Đăng xuất</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-toolbar-row>
    </mat-toolbar>
</div>