.material {
  $color_defaut : #1f7ed0;
  $color_default: white;
  .mat-elevation-z5.main-contain {
    background-color: $color_defaut;
    color: $color_default;
    position: relative;
    z-index: 3;
    .logo {
      height: 45px;
      width: 45px;
      margin: 0 10px;
    }
    .spacer {
      flex: 1 1 auto;
    }
    .btn-color {
      .btn-company {
        color: $color_default;
        background-color: $color_defaut;
        text-decoration: none;
        margin-left: 10px;
      }
      .btn-company:hover {
        color: $color_defaut;
        background-color: $color_default;
      }
      .btn-login {
        color: $color_default;
        background-color: $color_defaut;
        text-decoration: none;
        margin-left: 10px;
      }
      .btn-login:hover {
        color: $color_defaut;
        background-color: $color_default;
      }
      .btn-sct-page {
        color: $color_defaut;
        background-color: $color_default;
        text-decoration: none;
        margin-left: 10px;
      }
      .btn-sct-page:hover {
        color: $color_default;
        background-color: $color_defaut;
      }
      .user-menu {
        cursor: pointer;
        margin-left: 10px;
        .avatar {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $color_defaut;
        min-width: 215px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 65px;
        right: 0px;
        width: auto;
      }

      .dropdown-content div {
        color: black;
        padding: 10px 5px 10px 25px;
        text-decoration: none;
        display: flex;
        cursor: pointer;
        align-items: center;
      }

      .dropdown-content span {
        margin-left: 13px;
      }

      .dropdown-content div:hover {
        color: $color_defaut;
        background-color: $color_default;
      }
    }
  }
}