<mat-toolbar class="mat-elevation-z5 noidung">
    <mat-toolbar-row>
        <div class="navbar-brand">
            <a class="navbar-item" (click)="openHome()" [routerLink]="['/']" routerLinkActive="router-link-active">
                <img class="logo" src="assets/img/brand/logo.svg">
            </a>
        </div>
        <h1><strong>SỞ CÔNG THƯƠNG</strong></h1>
        <div class="spacer"></div>
        <div *ngIf="!checkLogin() else divUser" class="btn-color">
            <a mat-raised-button href="http://socongthuongbp.gov.vn/">
                <mat-icon>domain</mat-icon> Trang chủ SCT
            </a> &nbsp;
            <a mat-raised-button style="color: white; background-color: orange;" [routerLink]="['/register']">Doanh
                nghiệp đăng ký</a> &nbsp;

            <a mat-raised-button style="color: white; background-color: orange;" (click)="loginClick()">Đăng
                nhập</a>
        </div>
        <ng-template #divUser>
            <!-- <button mat-icon-button>
          <mat-icon class="cursor: crosshair;" matBadge="{{notificatios}}" [matBadgeHidden]="notificatios>0?false:true"
            matBadgeColor="warn">notifications_none</mat-icon>
        </button> -->
            <a mat-raised-button style="color: white; background-color: orange;" href="http://socongthuongbp.gov.vn/"
                target="blank">
                <mat-icon>domain</mat-icon> Trang chủ SCT
            </a>
            <hr class="verticle-line2">
            <a (click)="openAccountDropdown()" style="cursor: pointer;">
                <img class="avatar" src="{{img_avatar}}" alt="{{userName}}">
                <span id='userName'>{{ userName }} </span>
            </a>

            <div class="dropdown-content" [style.display]="this.open ? 'block' : 'none' ">
                <div id="text-btn">
                    <mat-icon>account_box</mat-icon>
                    <span (click)="openForm()">Thông tin tài khoản</span>
                </div>
                <ng-container *ngIf="expression; else elseTemplate">
                    <div id="text-btn">
                        <mat-icon>wysiwyg</mat-icon>
                        <span (click)="openDataSCTModule()">Quản lý thị trường</span>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div id="text-btn">
                        <mat-icon>wysiwyg</mat-icon>
                        <span (click)="openHome()">Dữ liệu ngành</span>
                    </div>
                </ng-template>
                <div id="text-btn">
                    <mat-icon>login</mat-icon>
                    <span (click)="logout()">Đăng xuất</span>
                </div>
            </div>

        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>