.breadcrumb {
  background-color: #fafafa;
  text-align: right;
}
.sticky {
  position: fixed;
  top: 80;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
#myHeader{
  // border-bottom: 1px solid #9c9c9c;
  margin-bottom: 5px;
  margin-top:5px;
}