<mat-dialog-content class="mat-typography">
    <mat-card>
        <mat-card-header>
            <mat-card-title><strong>Danh sách cơ sở trực thuộc</strong></mat-card-title>
            <mat-card-subtitle>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <hr>
            <div class="mat-elevation-z8">
                <mat-form-field>
                    <mat-label>Lọc dữ liệu</mat-label>
                    <input id="inputt" matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef class="cbconfig">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="cbconfig1">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="stt"> STT </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="so_gpgcn">
                        <th mat-header-cell *matHeaderCellDef> Mã giấy phép kinh doanh </th>
                        <td mat-cell *matCellDef="let element"> {{element.so_gpgcn}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ngay_cap">
                        <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                        <td mat-cell *matCellDef="let element"> {{element.ngay_cap}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ngay_het_han">
                        <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                        <td mat-cell *matCellDef="let element"> {{element.ngay_het_han}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Đóng</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Lưu</button>
</mat-dialog-actions>