<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <strong>
                Thông tin về giá cả trong nước
            </strong>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-2">
                <mat-form-field appearance="outline">
                    <mat-label>Ngày cập nhật giá</mat-label>
                    <input matInput readonly [matDatepicker]="datePicker" [(ngModel)]="pickedDate.date"
                        (ngModelChange)="getPriceChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="datePicker" onclick="this.blur()"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-10 button-control my-auto">
                <button *ngIf="!noData" mat-raised-button
                    (click)="exportTOExcel('Giá cả trong nước',timeDomesticPrice)">Xuất Excel</button>
            </div>
        </div>
        <div class="layout" #TABLE>
            <!-- <mat-form-field>
                <mat-label>Lọc dữ liệu</mat-label>
                <input id="inputt" matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field> -->

            <table mat-table [dataSource]="dataSource" class="table-layout" id="small-table">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="ten_san_pham">
                    <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_san_pham}} </td>
                </ng-container>

                <ng-container matColumnDef="gia">
                    <th mat-header-cell *matHeaderCellDef> Giá (vnđ/kg) </th>
                    <td mat-cell *matCellDef="let element"> {{element.gia | number:'1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="nguon_so_lieu">
                    <th mat-header-cell *matHeaderCellDef> Nguồn số liệu </th>
                    <td mat-cell *matCellDef="let element"> {{element.nguon_so_lieu}} </td>
                </ng-container>
                <ng-container matColumnDef="ngay_cap_nhat">
                    <th mat-header-cell *matHeaderCellDef> Ngày cập nhật </th>
                    <td mat-cell *matCellDef="let element"> {{element.ngay_cap_nhat}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>

            </table>
            <h1 *ngIf="noData" class="text-center">Không có dữ liệu</h1>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>