<mat-dialog-content class="mat-typography">
    <mat-card>
        <mat-card-header>
            <mat-card-title><strong>{{field}}</strong></mat-card-title>
            <mat-card-subtitle hidden>
                typeOfSave = {{typeOfSave}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <hr>
            <div class="mat-elevation-z8">
                <mat-form-field>
                    <mat-label>Lọc dữ liệu</mat-label>
                    <input id="inputt" matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef class="cbconfig">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="cbconfig1">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="stt"> STT </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ten_doanh_nghiep">
                        <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                        <td mat-cell *matCellDef="let element"> {{element.ten_doanh_nghiep}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cong_suat">
                        <th mat-header-cell *matHeaderCellDef [hidden]="typeOfSave != 'Sản xuất'"> Công suất </th>
                        <td mat-cell *matCellDef="let element" [hidden]="typeOfSave != 'Sản xuất'">
                            <input *ngIf="typeOfSave == 'Sản xuất'" appReport currencyMask class="text-right"
                                [(ngModel)]="element.cong_suat"></td>
                    </ng-container>

                    <ng-container matColumnDef="mst">
                        <th mat-header-cell *matHeaderCellDef class="mst"> Mã số thuế </th>
                        <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dia_chi">
                        <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                        <td mat-cell *matCellDef="let element"> {{element.dia_chi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dien_thoai">
                        <th mat-header-cell *matHeaderCellDef class="sdt"> Điện thoại </th>
                        <td mat-cell *matCellDef="let element"> {{element.dien_thoai}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nganh_nghe_kd">
                        <th mat-header-cell *matHeaderCellDef class="NGKD"> Ngành nghề kinh doanh </th>
                        <td mat-cell *matCellDef="let element" class="NGKD"> {{element.nganh_nghe_kd}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="chi_tiet_doanh_nghiep">
                        <th mat-header-cell *matHeaderCellDef> Chi tiết <br> Doanh nghiệp </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon>create</mat-icon>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{textCancelButton}}</button>
    <button mat-button (click)="save()" cdkFocusInitial>{{textSaveButton}}</button>
    <!-- [mat-dialog-close]="true" -->
</mat-dialog-actions>