<mat-card class="material">
    <mat-card-content>
        <div class="row">
            <div class="col-3 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Kỳ dữ liệu</mat-label>
                    <mat-select (selectionChange)="ChangeYear($event.value)" [(value)]="year">
                        <mat-option *ngFor='let y of years' [value]='y'>{{y}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-9 col-lg-9 button-control">
                <button mat-raised-button (click)="exportExcel()">Xuất Excel</button>
            </div>
        </div>

        <div class="layout" *ngIf="dataSource.data.length; else ShowEmpty" #TABLE>
            <table mat-table [dataSource]="dataSource" class="table-layout" id="small-table2">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; "  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''">{{element.thu_tu}}</td>
                </ng-container>

                <ng-container matColumnDef="chi_tieu" sticky>
                    <th mat-header-cell *matHeaderCellDef> Chỉ tiêu </th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.chi_tieu}}</td>
                </ng-container>

                <ng-container matColumnDef="don_vi" [sticky]="false">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.don_vi}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_1">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 1</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(1, year)" id="jump">
                        {{element.thang_1| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_2">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 2</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(2, year)" id="jump">
                        {{element.thang_2| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_3">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 3</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(3, year)" id="jump">
                        {{element.thang_3| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_4">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 4</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(4, year)" id="jump">
                        {{element.thang_4| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_5">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 5</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(5, year)" id="jump">
                        {{element.thang_5| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_6">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 6</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(6, year)" id="jump">
                        {{element.thang_6| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_7">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 7</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(7, year)" id="jump">
                        {{element.thang_7| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_8">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 8</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(8, year)" id="jump">
                        {{element.thang_8| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_9">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 9</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(9, year)" id="jump">
                        {{element.thang_9| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_10">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 10</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(10, year)" id="jump">
                        {{element.thang_10| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_11">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 11</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(11, year)" id="jump">
                        {{element.thang_11| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thang_12">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng 12</th>
                    <td mat-cell *matCellDef="let element"  [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''" class="detail" (click)="OpenDetail(12, year)" id="jump">
                        {{element.thang_12| number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="DISPLAY_COLS; sticky : true"></tr>
                <tr mat-row *matRowDef="let row; columns: DISPLAY_COLS;let i = index; ">
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons></mat-paginator>
        <ng-template #ShowEmpty>
            <h1>Không có dữ liệu</h1>
        </ng-template>

    </mat-card-content>
</mat-card>