.mat-card.material {
  .mat-paginator {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: left;
    justify-content: flex-end;
    height: 30px !important;
    width: 100%;
  }
  $blue: #1f7ed0;
  $white: white;
  .mat-card-header {
    text-align: center;
    display: initial;
    .mat-card-title {
      strong {
        color: $blue;
      }
    }
  }
  .mat-card-content {
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -0.5em;
    }
    .mat-form-field {
      width: 100%;
    }
    strong {
      color: $blue;
    }
    .mat-paginator {
      display: flex;
      align-items: center;
      // justify-content: flex-end;
      min-height: 30px;
      width: 100%;
    }
    .button-control {
      text-align: right;
      margin-bottom: 5px;
      button.mat-raised-button {
        background-color: $blue !important;
        color: $white !important;
        margin: auto 3px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
      button.mat-raised-button.reverse {
        background-color: $white !important;
        color: $blue !important;
      }
    }
    .button-control.-align-left {
      text-align: left;
    }
    .layout {
      .table-header {
        height: 40px !important;
      }
      .table-row {
        height: 30px !important;
      }
      max-width: 100%;
      max-height: 100%;
      height: 460px;
      overflow: auto;
      table.mat-table.table-layout {
        border-collapse: separate;
        width: 550%;
        table-layout: initial;
        th,
        td {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
        .mat-header-cell {
          background-color: $blue;
          color: $white;
          padding: 5px !important;
          border: 0.01em solid rgb(192, 192, 192);
          font-weight: bold;
          font-size: 12px;
          text-align: center;
        }
        .mat-footer-cell {
          border: 0.01em solid rgb(192, 192, 192);
          padding: 5px !important;
          text-align: left;
          font-weight: bolder;
        }
        .left-cell {
          text-align: left !important;
        }
        .right-cell {
          text-align: right !important;
        }
        .mat-cell {
          padding: 5px !important;
          border-width: 1px;
          border: 0.01em solid rgb(192, 192, 192);
          font-size: 13px;
          text-align: left;
          max-width: 350px;
        }
        .center-cell {
          text-align: center !important;
        }
        .right-cell {
          text-align: right !important;
        }
        #jump {
          cursor: zoom-in;
          text-align: center;
          color: blue;
        }

        input {
          border: none;
          width: 100%;
          height: 100%;
          background-color: white !important;
          color: black;
        }

        select {
          border: none;
          width: 100%;
          height: 100%;
          background-color: white !important;
          color: black !important;
        }

        select:invalid {
          background-color: white !important;
          color: black !important;
        }

        ::ng-deep .mat-select-disabled .mat-select-value {
          color: black !important;
        }
      }
    }
  }
  #import_excel {
    background-color: $blue !important;
    color: $white !important;
    font-weight: 500 !important;
    box-sizing: border-box;
    position: relative;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    .mat-icon {
      vertical-align: middle;
    }
  }

  .table-layout#small-table {
    width: 100%;
  }

  .table-layout#small-table1 {
    width: 150%;
  }

  .table-layout#small-table2 {
    width: 200%;
  }

  #filter {
    width: 100%;
  }

  #filter1 {
    width: 150%;
  }

  #filter2 {
    width: 200%;
  }

  #large-filter {
    width: 550%;
  }

  .info {
    input {
      border: none;
      width: 100%;
      background-color: white !important;
      color: black;
    }

    select {
      border: none;
      width: 100%;
      background-color: white !important;
    }

    textarea {
      border: none;
      width: 100%;
      background-color: white !important;
      color: black;
    }

    ::ng-deep .mat-select-disabled .mat-select-value {
      color: black !important;
    }
  }
}
