<ng-container *ngIf="id === 1; else elseTemplate">
    <mat-card class="liquor">
        <mat-card-content>
            <div class="row example-action-buttons ">
                <!-- <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button> &nbsp;
                <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button> -->

                <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
            </div>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon> show_chart</mat-icon>
                            &nbsp;
                            <strong>DỮ LIỆU TỔNG HỢP</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row content">
                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar>
                                        <mat-icon> business</mat-icon>
                                    </div> -->
                                    <mat-card-title>Tổng sản lượng thực hiện tháng báo cáo:
                                    </mat-card-title>
                                    <br>
                                    <mat-card-subtitle class="value">
                                        <strong>{{TongLuongThangThucHien | formatNumber }} (Tấn)</strong>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar>
                                        <mat-icon> equalizer</mat-icon>
                                    </div> -->
                                    <mat-card-title>Tổng giá trị thực hiện tháng:
                                    </mat-card-title>
                                    <mat-card-subtitle class="value">
                                        <strong>{{TongGiaTriThangThucHien | formatNumber }} (USD)</strong>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar>
                                        <mat-icon> business</mat-icon>
                                    </div> -->
                                    <mat-card-title>Tổng sản lượng cộng dồn tới tháng báo cáo:
                                    </mat-card-title>
                                    <mat-card-subtitle class="value">
                                        <strong>{{TongLuongCongDon | formatNumber }} (Tấn)</strong>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar>
                                        <mat-icon> equalizer</mat-icon>
                                    </div> -->
                                    <mat-card-title>Tổng giá trị cộng dồn tới tháng báo cáo:
                                    </mat-card-title>
                                    <mat-card-subtitle class="value">
                                        <strong>{{TongGiaTriCongDon | formatNumber }} (USD)</strong>
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>folder_open</mat-icon>
                            &nbsp;
                            <strong>DỮ LIỆU CHI TIẾT</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <!-- <div class="col-3 col-lg-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Kỳ dữ liệu</mat-label>
                                <mat-select (selectionChange)="getDanhSachNhapKhau($event.value)">
                                    <mat-option *ngFor='let month of months' [value]='month'>{{month}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->

                        <!-- <div class="col-3 col-lg-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Địa bàn</mat-label>
                                <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                    <mat-option *ngFor='let district of districts' [value]='district.id'>
                                        {{district.ten_quan_huyen}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                        <div class="col-3 col-lg-3 my-auto">
                            <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                            </mat-checkbox>
                        </div> -->
                    </div>

                    <div class="auto mat-elevation-z1" *ngIf="dataSource.data.length; else ShowEmpty">
                        <mat-form-field class="filter">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSource" #table matSort>
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> STT </th>
                                <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                                <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>

                            <ng-container matColumnDef="ten_san_pham">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tên hàng </th>
                                <td mat-cell *matCellDef="let element" > {{element.ten_san_pham}}</td>
                                <td mat-footer-cell *matFooterCellDef> TỔNG </td>
                            </ng-container>

                            <ng-container matColumnDef="id_quoc_gia" style="text-align: left;">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Thị trường chủ yếu </th>
                                <td mat-cell *matCellDef="let element" > {{element.ten_tieng_anh}}</td>
                                <td mat-footer-cell *matFooterCellDef> : </td>
                            </ng-container>

                            <ng-container matColumnDef="thuc_hien_bao_cao_thang">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Thực hiện tháng báo cáo </th>
                            </ng-container>

                            <ng-container matColumnDef="cong_don_den_ky_bao_cao">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Cộng đồn từ đầu năm đến ngày báo cáo </th>
                            </ng-container>

                            <ng-container matColumnDef="luong_thang">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lượng (Tấn) </th>
                                <td mat-cell *matCellDef="let element" class="stt"> {{element.luong_thang}}</td>
                                <td mat-footer-cell *matFooterCellDef> {{TongLuongThangThucHien | formatNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="gia_tri_thang">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trị giá (USD) </th>
                                <td mat-cell *matCellDef="let element" class="stt"> {{element.gia_tri_thang}}</td>
                                <td mat-footer-cell *matFooterCellDef> {{TongGiaTriThangThucHien | formatNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="luong_cong_don">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lượng (Tấn) </th>
                                <td mat-cell *matCellDef="let element" class="stt"> {{element.luong_cong_don}}</td>
                                <td mat-footer-cell *matFooterCellDef> {{TongLuongCongDon | formatNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="gia_tri_cong_don">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trị giá (USD) </th>
                                <td mat-cell *matCellDef="let element" class="stt"> {{element.gia_tri_cong_don}}</td>
                                <td mat-footer-cell *matFooterCellDef> {{TongGiaTriCongDon | formatNumber}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['index', 'ten_san_pham', 'id_quoc_gia', 'thuc_hien_bao_cao_thang', 'cong_don_den_ky_bao_cao']">
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="['luong_thang', 'gia_tri_thang', 'luong_cong_don', 'gia_tri_cong_don']"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index; ">
                                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                    <ng-template #ShowEmpty>
                        <h1>Không có dữ liệu</h1>
                    </ng-template>

                </mat-expansion-panel>
            </mat-accordion>

        </mat-card-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
          </mat-dialog-actions>
    </mat-card>
</ng-container>
<ng-template #elseTemplate>
    <mat-card>
        <mat-card-content class="mat-typography">
            <div class="row example-action-buttons ">
                <!-- <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button> &nbsp;
                <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button> &nbsp; -->
                <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
            </div>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon> show_chart</mat-icon>
                            &nbsp;
                            <strong>DỮ LIỆU TỔNG HỢP</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row content">
                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon> business</mat-icon>
                                    </div>
                                    <mat-card-title>Số doanh nghiệp: <strong>{{so_doanh_nghiep}}</strong>
                                    </mat-card-title>
                                    <br>
                                    <mat-card-subtitle class="value">
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon> equalizer</mat-icon>
                                    </div>
                                    <mat-card-title>Mặt hàng: <strong>{{ten_san_pham}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle class="value">

                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-3 col-lg-3">
                            <mat-card class="cards">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon> business</mat-icon>
                                    </div>
                                    <mat-card-title>Kỳ dữ liệu: <strong>Tháng {{data.thang}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle class="value">

                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <!-- <div class="col-3 col-lg-3">
                                        <mat-card class="cards">
                                            <mat-card-header>
                                                <div mat-card-avatar>
                                                    <mat-icon> equalizer</mat-icon>
                                                </div>
                                                <mat-card-title>:
                                                    </mat-card-title>
                                                <mat-card-subtitle class="value">
                                                    <strong></strong>
                                                </mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                            </mat-card-content>
                                        </mat-card>
                                    </div> -->
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>folder_open</mat-icon>
                            &nbsp;
                            <strong>DỮ LIỆU CHI TIẾT</strong>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <div class="auto mat-elevation-z1">
                        <mat-form-field class="filter">
                            <mat-label>Lọc dữ liệu</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSource">

                            <!-- <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef class="cbconfig">
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="cbconfig1">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container> -->

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef > STT </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ten_doanh_nghiep">
                                <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                                <td mat-cell *matCellDef="let element"> {{element?.ten_doanh_nghiep}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cong_suat">
                                <th mat-header-cell *matHeaderCellDef> Công suất </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.cong_suat_thiet_ke || '-'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="mst">
                                <th mat-header-cell *matHeaderCellDef class="mst"> Mã số thuế </th>
                                <td mat-cell *matCellDef="let element"> {{element?.mst}} </td>
                            </ng-container>
                            <ng-container matColumnDef="dia_chi">
                                <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                                <td mat-cell *matCellDef="let element"> {{element?.dia_chi}} </td>
                            </ng-container>
                            <ng-container matColumnDef="dien_thoai">
                                <th mat-header-cell *matHeaderCellDef class="sdt"> Điện thoại </th>
                                <td mat-cell *matCellDef="let element"> {{element?.dien_thoai}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="nganh_nghe_kd">
                                <th mat-header-cell *matHeaderCellDef class="NGKD"> Ngành nghề kinh doanh </th>
                                <td mat-cell *matCellDef="let element" class="NGKD"> {{element?.nganh_nghe_kd}} </td>
                            </ng-container> -->

                            <ng-container matColumnDef="chi_tiet_doanh_nghiep">
                                <th mat-header-cell *matHeaderCellDef> Chi tiết <br> Doanh nghiệp </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon (click)="OpenDetailCompany(element.mst)">search</mat-icon>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns_business;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns_business;"></tr>
                        </table>
                        
                    </div>
                    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
          </mat-dialog-actions>
    </mat-card>
</ng-template>