<mat-card class="material">
    <mat-card-content>
        <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button>
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-lg-6">
                        <mat-card class="card5">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Tổng số siêu thị: <span>{{tongSieuThi}} siêu thị</span>
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-6 col-lg-6">
                        <mat-card class="card4">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Đặc điểm kinh doanh tại siêu thị:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Tổng số siêu thị tổng hợp: <span>0</span>
                                    </li>
                                    <li>
                                        Tổng số siêu thị chuyên doanh: <span>0</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-lg-6">
                        <mat-card class="card4" id="card4-3">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Phân hệ:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ul>
                                    <li>
                                        Tổng số siêu thị hạng I: <span>{{sieuThiHangI}}</span>
                                    </li>
                                    <li>
                                        Tổng số siêu thị hạng II: <span>{{sieuThiHangII}}</span>
                                    </li>
                                    <li>
                                        Tổng số siêu thị hạng III: <span>{{sieuThiHangIII}}</span>
                                    </li>
                                    <li>
                                        Tổng số siêu thị đang xây dựng: <span>{{sieuThiDangXayDung}}</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-6 col-lg-6">
                        <mat-card class="card4" id="card4-3">
                            <mat-card-header>
                                <mat-card-title>
                                    <mat-icon>filter</mat-icon> Thống kê số lượng siêu thị theo năm:
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content style="font-size: 12px;">
                                <ul>
                                    <li>
                                        Tổng số siêu thị đầu tư xây dựng trong năm <span>{{year}}</span> là:
                                        <span>{{sieuThiDauTuTrongNam}}</span>
                                    </li>
                                    <li>
                                        Chênh lệch số siêu thị đầu tư xây dựng trong năm <span>{{year}}</span> so với
                                        năm trước là:
                                        <span>{{sieuThiDauTuTrongNam - sieuThiDauTuNamTruoc}}</span>
                                    </li>
                                    <li>
                                        Tổng số siêu thị ngừng hoạt động trong năm <span>{{year}}</span> là:
                                        <span>0</span>
                                    </li>
                                    <li>
                                        Chênh lệch số siêu thị ngừng hoạt động trong năm <span>{{year}}</span> so với
                                        năm trước là: <span>0</span>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterModel.id_quan_huyen"
                                multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hạng siêu thị</mat-label>
                            <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterModel.phanloai" multiple>
                                <mat-option *ngFor='let phanloai of phanloais' [value]='phanloai.value'>
                                    {{phanloai.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-6 col-lg-6 button-control">
                        <button mat-raised-button (click)="exportExcel()">Xuất Excel</button>
                    </div>
                </div>
                <div class="layout" *ngIf="filteredDataSource.data.length; else ShowEmpty" #TABLE>

                    <table mat-table [dataSource]="filteredDataSource" class="table-layout" id="small-table">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
                        </ng-container>
                        <ng-container matColumnDef="tenhuyenthi">
                            <th mat-header-cell *matHeaderCellDef> Huyện, thị xã, thành phố </th>
                            <td mat-cell *matCellDef="let element"> {{element.huyen}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ten_tttm">
                            <th mat-header-cell *matHeaderCellDef>Siêu thị</th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_tttm}} </td>
                        </ng-container>
                        <ng-container matColumnDef="dientich">
                            <th mat-header-cell *matHeaderCellDef> Diện tích </th>
                            <td mat-cell *matCellDef="let element"> {{element.dientich}} </td>
                        </ng-container>
                        <ng-container matColumnDef="vondautu">
                            <th mat-header-cell *matHeaderCellDef> Vốn đầu tư </th>
                            <td mat-cell *matCellDef="let element"> {{element.vondautu}} </td>
                        </ng-container>
                        <ng-container matColumnDef="namdautuxaydung">
                            <th mat-header-cell *matHeaderCellDef> Thời gian xây dựng </th>
                            <td mat-cell *matCellDef="let element"> {{element.namdautuxaydung}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phanloai">
                            <th mat-header-cell *matHeaderCellDef> Phân hạng </th>
                            <td mat-cell *matCellDef="let element"> {{element.phanloai}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="headerArray"></tr>
                        <tr mat-row *matRowDef="let row; columns: headerArray;let i = index"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>