<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> swap_calls</mat-icon>
            Công tác phát triển điện
        </ng-template>
        <app-electric-developement></app-hydroelectric>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>select_all</mat-icon>
            Tổng số hộ sử dụng điện + Tiêu chí số 4
        </ng-template>
        <app-solar-enery-management></app-solar-enery-management>
    </mat-tab>
</mat-tab-group>