<div class="sidenav_container mat-elevation-z5" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <ngx-simplebar [options]="options" style="height: 100%; background-color: #efeeee;">
        <div class="user_menu">
            <mat-nav-list>
                <mat-divider></mat-divider>
                <a mat-list-item *ngIf="logon">
                    <img class="jim" src="{{img_avatar}}" alt="{{userName}}">
                    <span data-toggle="tooltip" title={{userName}} id="thongtinUser" [@animateText]="linkText ? 'show' : 'hide'">&nbsp; {{ userName }} </span>
                </a>
            </mat-nav-list>
        </div>

        <div>
            <mat-nav-list>
                <div *ngFor="let navItem of navItems; let i = index">
                    <div *ngIf="(!navItem.manager)||(navItem.manager && logon)">
                        <a mat-list-item *ngIf="navItem.children;else normalSideBar" (click)="OpenSubChildren(i, navItem)" class="parent">
                            <span [@animateText]="linkText ? 'show' : 'hide'">{{navItem.name}}</span>
                            <!-- <mat-icon mat-list-icon class="white-icon">{{navItem.icon}}</mat-icon> -->
                            <mat-icon class="menu-button" [ngClass]="{'rotated' : navItem.expand}">
                                expand_more
                            </mat-icon>
                        </a>
                        <div *ngFor="let child of navItem.children">
                            <ng-container *ngIf="child.manager; else elseTemplate">
                                <mat-nav-list #elem [id]="child.id" class="submenu" *ngIf="navItem.expand">
                                    <a mat-list-item id={{child?.icon}} (click)="OpenSubChildren(i, child)" class="child">
                                        <span [@animateText]="linkText ? 'show' : 'hide'">{{child.name}}</span>
                                        <mat-icon mat-list-icon></mat-icon>
                                        <mat-icon class="menu-button" [ngClass]="{'rotated' : child.expand}">
                                            expand_more
                                        </mat-icon>
                                    </a>
                                    <div *ngFor="let subchild of child.children">
                                        <a mat-list-item id={{subchild?.icon}} [routerLink]='subchild.url' *ngIf="child.expand" class="small">
                                            <span [@animateText]="linkText ? 'show' : 'hide'">{{subchild.name}}</span>
                                            <mat-icon mat-list-icon></mat-icon>
                                        </a>
                                    </div>
                                </mat-nav-list>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <mat-nav-list #elem [id]="child.id" class="submenu" *ngIf="navItem.expand">
                                    <a mat-list-item id={{child?.icon}} [routerLink]="child.url" class="child">
                                        <span [@animateText]="linkText ? 'show' : 'hide'">{{child.name}}</span>
                                        <mat-icon mat-list-icon></mat-icon>
                                        <mat-icon class="menu-button" [ngClass]="{'rotated' : child.expand}">

                                        </mat-icon>
                                    </a>
                                </mat-nav-list>
                            </ng-template>

                        </div>
                        <ng-template #normalSideBar>
                            <mat-divider *ngIf="navItem.title"></mat-divider>
                            <a mat-list-item id="child.icon" *ngIf="!navItem.title" [routerLink]="[navItem.url]" class="child">
                                <span [@animateText]="linkText ? 'show' : 'hide'">{{navItem.name}}</span>
                                <mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
                            </a>
                            <div mat-list-item *ngIf="navItem.title">
                                <span class="showTitle text-left" [@animateText]="linkText ? 'show' : 'hide'">{{navItem.name}}</span>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </mat-nav-list>
        </div>
    </ngx-simplebar>
    <!-- </div> -->
</div>

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidebar class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more
        </mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">Submenu Item 1</a>
        <a mat-list-item href="...">Submenu Item 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
            expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div>
      </div>
    </mat-nav-list>
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->



<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
<!-- <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div style="height: 100%;">

    <div *ngFor="let navItem of navItems">
      <div *ngIf="navItem.title;else matNav">
        <div mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-icon style="padding-right:5px;">{{navItem.icon}}</mat-icon>
              <a mat-panel-description [@animateText]="linkText ? 'show' : 'hide'" [routerLink]="[navItem.url? url: '']"
                routerLinkActive="router-link-active">
                {{navItem.name}}
              </a>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1">
            </mat-form-field>
          </mat-expansion-panel>
        </div>
        <mat-divider></mat-divider>
      </div>

      <ng-template #matNav>
        <mat-nav-list>
          <a mat-list-item *ngFor="let page of pages">
            <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
          </a>
        </mat-nav-list>
      </ng-template>
    </div>
  </div>

  <span class="spacer" style="flex: 1 1 auto;"></span>

  <div style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSinenavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div>
</div> -->

<!-- <div>
  <mat-nav-list>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon style="padding-right:5px;">inbox</mat-icon>
          <mat-panel-description  [@animateText]="linkText ? 'show' : 'hide'">
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
 </div> -->