.material {
  $backcolor_defaut: #1f7ed0;
  $color_default: white;
  $backcolor_menu_default: white;
  $color_menu_defaut: #000000;
  .sidenav_container .mat-elevation-z5 {
    min-width: 60px;
    height: 100%;
    border-right: 3px;
    z-index: -1 !important;
    .sct-sidebar {
      height: 100%;
      background-color: $color_default;
    }
  }

  .mat-list-item {
    font-size: 1em;
    background-color: $backcolor_menu_default;
    color: $color_menu_defaut;
    .submenu {
      color: $color_menu_defaut;
      background-color: $backcolor_menu_default;
    }

    
  }
  .mat-list-base {
    padding-top: 0px !important;
  }
  .mat-list-item.parent {
    text-transform: uppercase;
    color: $color_default;
    background-color: $backcolor_defaut;
  }

  .mat-list-item.child {
    font-size: 1em;
    // padding-left: 28px;
  }

  .mat-list-item.small {
    font-size: 1em;
  }
  .mat-icon{
      margin-right: 5px;
  }
  .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon{
    margin-right: 5px;
    padding:0px;
  }
  .mat-list-item:hover {
    background-color: $backcolor_defaut;
    color: $color_default;
  }

  .mat-list-item:active {
    font-weight: bold;
    transition: 1s ease all;
    -moz-transition: 1s ease all;
    -webkit-transition: 1s ease all;
    background-color: $backcolor_defaut;
    color: #000000;
  }

  .mat-list-item:focus {
    background-color: $backcolor_defaut;
    color: #000000;
  }

  .mat-list-item-active {
    color: #fc0808;
  }
  img.jim {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  #thongtinUser {
    display: block;
    opacity: 1;
    text-overflow: ellipsis;
    padding: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }

  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .showTitle {
    height: 50px !important;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-top: 13px;
    text-transform: uppercase;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
}
