<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> swap_calls</mat-icon>
            Hiện trạng các nguồn cung cấp
        </ng-template>
        <current-electrical-plan></current-electrical-plan>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>select_all</mat-icon>
            Dự kiến các nguồn cung cấp 110KV giai đoạn đến năm 2030
        </ng-template>
        <future-electrical-plan></future-electrical-plan>
    </mat-tab>
</mat-tab-group>