<mat-card class="material">
    <mat-card-content>
        <div class="auto" *ngIf="dataSource.data.length; else ShowEmpty">
            <table mat-table [dataSource]="dataSource" #table>
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element;"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''">{{element.thu_tu}}</td>
                </ng-container>

                <ng-container matColumnDef="chi_tieu" [sticky]="true">
                    <th mat-header-cell *matHeaderCellDef> Chỉ tiêu </th>
                    <td mat-cell *matCellDef="let element" style="text-align: left; padding: 5px;"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.chi_tieu}}</td>
                </ng-container>

                <ng-container matColumnDef="don_vi" [sticky]="false">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.don_vi}}</td>
                </ng-container>

                <ng-container matColumnDef="cung_ky">
                    <th mat-header-cell *matHeaderCellDef> Tháng {{month}}/{{year-1}}</th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.cung_ky|number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thuc_hien_thang_truoc">
                    <th mat-header-cell *matHeaderCellDef> Tháng {{month-1==0?12:month-1}}/{{month-1==0?year-1:year}}</th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''">
                        {{element.thuc_hien_thang_truoc|number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thuc_hien_thang">
                    <th mat-header-cell *matHeaderCellDef> Tháng {{month}}/{{year}}</th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''"> {{element.thuc_hien_thang|number:'1.0-2'| ZeroAsSub}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="thuc_hien_so_voi_thang_truoc">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng {{month}}<br> so với tháng trước</th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''">
                        {{element.thuc_hien_so_voi_thang_truoc|number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <ng-container matColumnDef="thuc_hien_so_voi_cung_ky">
                    <th mat-header-cell *matHeaderCellDef> Thực hiện tháng {{month}}<br>so với cùng kỳ</th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.thu_tu=='I'||element.thu_tu=='II'?'bold':''">
                        {{element.thuc_hien_so_voi_cung_ky|number:'1.0-2'| ZeroAsSub}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="DISPLAY_COLS; sticky : true"></tr>
                <tr mat-row *matRowDef="let row; columns: DISPLAY_COLS;let i = index; ">
            </table>
        </div>
        <ng-template #ShowEmpty>
            <h1>Không có dữ liệu</h1>
        </ng-template>

    </mat-card-content>
</mat-card>