<mat-card class="petrol">
    <mat-card-content>
        <div class="example-action-buttons">
            <button mat-raised-button style="color: orangered;" (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button> &nbsp;
            <button mat-raised-button style="color: orangered;" (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-card class="cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon> business</mat-icon>
                                </div>
                                <mat-card-title>Số lượng doanh nghiệp trên địa bàn:</mat-card-title>
                                <mat-card-subtitle>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <strong>{{dataSource.data.length}} doanh nghiệp</strong>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-card class="cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>equalizer</mat-icon>
                                </div>
                                <mat-card-title>Sản lượng sản xuất hàng năm:
                                    <!-- <strong>{{sanLuongSanXuat}}</strong> -->
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-card class="cards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>equalizer</mat-icon>
                                </div>
                                <mat-card-title>Sản lượng KD hàng năm:
                                    <!-- <strong>{{sanLuongKinhDoanh}}</strong> -->
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="getDanhSachQuanLyCongNghiepThucPham($event.value)">
                                <mat-option *ngFor='let year of years' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                        </mat-checkbox>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)="showMoreDetail($event)">Chi tiết
                        </mat-checkbox>
                    </div>
                </div>

                <div class="auto " *ngIf="filteredDataSource.data.length; else ShowEmpty">
                    <mat-form-field class="filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="filteredDataSource" #table>
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="mst">
                            <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                            <td mat-cell *matCellDef="let element"> {{element.mst}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ten_doanh_nghiep">
                            <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ten_doanh_nghiep}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nganh_nghe_kd">
                            <th mat-header-cell *matHeaderCellDef> Ngành nghề KD chính </th>
                            <td mat-cell *matCellDef="let element"> {{element.nganh_nghe_kd}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dia_chi">
                            <th mat-header-cell *matHeaderCellDef> Địa bàn </th>
                            <td mat-cell *matCellDef="let element"> {{element.dia_chi}}</td>
                        </ng-container>

                        <ng-container matColumnDef="so_lao_dong">
                            <th mat-header-cell *matHeaderCellDef> Số lao động </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_lao_dong}}</td>
                        </ng-container>

                        <ng-container matColumnDef="cong_suat">
                            <th mat-header-cell *matHeaderCellDef> Công suất thiết kế/năm </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_lao_dong}}</td>
                        </ng-container>

                        <ng-container matColumnDef="von_dau_tu">
                            <th mat-header-cell *matHeaderCellDef> Vốn đầu tư </th>
                            <td mat-cell *matCellDef="let element"> {{element.von_dau_tu}}</td>
                        </ng-container>

                        <ng-container matColumnDef="san_luong">
                            <th mat-header-cell *matHeaderCellDef> Sản lượng/năm </th>
                            <td mat-cell *matCellDef="let element"> {{element.san_luong}}</td>
                        </ng-container>

                        <ng-container matColumnDef="so_gp_gcn">
                            <th mat-header-cell *matHeaderCellDef> Số Giấy phép/Giấy chứng nhận </th>
                            <td mat-cell *matCellDef="let element"> {{element.so_gp_gcn}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_cap">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngay_cap| date:'dd/MM/yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ngay_het_han">
                            <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ngay_het_han| date:'dd/MM/yyyy'}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>