<mat-card>
    <mat-card-content>
        <div class="example-action-buttons">
            <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button> &nbsp;
            <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <!-- <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col">
                        <mat-card class="cards" id="ccards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>filter</mat-icon>
                                </div>
                                <mat-card-title> Số lượng thuỷ điện
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <strong>{{soLuongDoanhNghiep| number:'1.0-0'}}</strong>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="cards" id="ccards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>filter</mat-icon>
                                </div>
                                <mat-card-title> Doanh thu hằng năm
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <strong>{{doanhThu| number:'1.0-2'}}</strong>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="cards" id="ccards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>filter</mat-icon>
                                </div>
                                <mat-card-title> Tổng công xuất
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <strong>{{congXuat| number:'1.0-2'}}</strong>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col">
                        <mat-card class="cards" id="ccards">
                            <mat-card-header>
                                <div mat-card-avatar>
                                    <mat-icon>filter</mat-icon>
                                </div>
                                <mat-card-title> Tổng sản lượng năm
                                </mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <strong>{{sanluongnam| number:'1.0-2'}}</strong>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel> -->

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kỳ dữ liệu</mat-label>
                            <mat-select (selectionChange)="getValueOfHydroElectric($event.value)" [value]="2020">
                                <mat-option *ngFor='let year of years' [value]='year'>{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)="applyActionCheck($event)" [ngModel]="isChecked">DN đang xây dựng
                        </mat-checkbox>
                    </div>
                </div>

                <div class="auto mat-elevation-z8" *ngIf="filteredDataSource.data.length; else ShowEmpty">
                    <mat-form-field class="filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="filteredDataSource" #table>
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;" class='stt'>{{i+1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dia_ban">
                            <th mat-header-cell *matHeaderCellDef> Địa bàn (xã, phường, thị trấn) </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.dia_ban}}</td>
                        </ng-container>
                        <ng-container matColumnDef="tong_so_ho">
                            <th mat-header-cell *matHeaderCellDef> Tổng </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.tong_so_ho}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ho_co_dien">
                            <th mat-header-cell *matHeaderCellDef> Có điện </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.ho_co_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ho_chua_co_dien">
                            <th mat-header-cell *matHeaderCellDef> Chưa có điện </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.ho_chua_co_dien}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ty_le">
                            <th mat-header-cell *matHeaderCellDef> Tỷ lệ </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.ty_le}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tieu_chi_41">
                            <th mat-header-cell *matHeaderCellDef> Tiêu chí 4.1 </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.tieu_chi_41}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="tieu_chi_42">
                            <th mat-header-cell *matHeaderCellDef> Tiêu chí 4.2 </th>
                            <td mat-cell *matCellDef="let element" class="tieu_chi_42">
                                {{element.dung_tich_ho}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tieu_chi_43">
                            <th mat-header-cell *matHeaderCellDef>Tiêu chí 4.3 </th>
                            <td mat-cell *matCellDef="let element" class="stt"> {{element.tieu_chi_43}}</td>
                        </ng-container>

                        <ng-container matColumnDef="indexM">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
                        </ng-container>
                        <ng-container matColumnDef="dia_banM">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
                        </ng-container>
                        <ng-container matColumnDef="so_ho_su_dung_dienM">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">Số hộ sử dụng điện</th>
                        </ng-container>
                        <ng-container matColumnDef="ty_leM">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
                        </ng-container>
                        <ng-container matColumnDef="tieu_chi_so_4M">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"></th>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="dsplayMergeColumns;">
                        </tr>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index; ">
                    </table>

                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>