<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> local_gas_station</mat-icon>
            XĂNG DẦU
        </ng-template>
        <petrol-business></petrol-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>smoking_rooms</mat-icon>
            THUỐC LÁ
        </ng-template>
        <tobacco-business></tobacco-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> local_bar</mat-icon>
            RƯỢU
        </ng-template>
        <liquor-business></liquor-business>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
            LPG
        </ng-template>
        <lpg-business></lpg-business>
    </mat-tab>
</mat-tab-group>