<mat-card class="material">
    <mat-card-header>
        <mat-card-title>
            <strong>Danh sách doanh nghiệp</strong>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <hr>
        <div class="row" *ngIf="isSearch_Advanced">
            <div class="col-lg-5 button-control -align-left my-auto">
                <button mat-raised-button (click)="exportTableToExcel('table-bussiness','Danh sách doanh nghiệp')">Xuất
                    Excel</button>
                <button mat-raised-button (click)="filter()">Tìm kiếm</button>
                <button mat-raised-button (click)="cancel()">Hủy</button>
                <button mat-raised-button (click)="add_condition()">
                    <mat-icon>expand_more</mat-icon>Mở rộng
                </button>
            </div>
            <div class="col-lg-7">
                <ng-container *ngFor="let item of countNumberCondition">
                    <div class="row my-auto" id={{item.id}} #new_element>
                        <div class="col-lg-4">
                            <select class="form-control" [(ngModel)]="item.filed_name">
                                <option *ngFor="let item of displayedFields" [ngValue]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Nhập giá trị"
                                [(ngModel)]="item.filed_value">
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-danger" mat-raised-button (click)="Xoa_dong()">
                                <mat-icon>expand_less</mat-icon>Thu hẹp
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <hr>
        <div class="layout ">
            <!-- <mat-form-field id="large-filter">
                <mat-label>Lọc dữ liệu</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field> -->

            <table class="table-layout" mat-table matTableFilter [exampleEntity]="filterEntity"
                [filterType]="filterType" [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="ten_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Tên doanh nghiệp </th>
                    <td (click)="OpenDetailCompany(element.mst)" mat-cell *matCellDef="let element" id="jump">
                        {{element.ten_doanh_nghiep}} </td>
                </ng-container>

                <ng-container matColumnDef="ten_nganh_nghe">
                    <th mat-header-cell *matHeaderCellDef> Tên ngành nghề </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_nganh_nghe}} </td>
                </ng-container>

                <ng-container matColumnDef="mst">
                    <th mat-header-cell *matHeaderCellDef> Mã số thuế </th>
                    <td mat-cell *matCellDef="let element"> {{element.mst}} </td>
                </ng-container>

                <ng-container matColumnDef="dia_chi_day_du">
                    <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                    <td mat-cell *matCellDef="let element"> {{element.dia_chi_day_du}} </td>
                </ng-container>

                <ng-container matColumnDef="nganh_nghe_kd">
                    <th mat-header-cell *matHeaderCellDef> Ngành nghề kinh doanh </th>
                    <td mat-cell *matCellDef="let element"> {{element.nganh_nghe_kd}} </td>
                </ng-container>

                <ng-container matColumnDef="nguoi_dai_dien">
                    <th mat-header-cell *matHeaderCellDef> Người đại diện </th>
                    <td mat-cell *matCellDef="let element"> {{element.nguoi_dai_dien}} </td>
                </ng-container>

                <ng-container matColumnDef="dien_thoai">
                    <th mat-header-cell *matHeaderCellDef> Điện thoại </th>
                    <td mat-cell *matCellDef="let element"> {{element.dien_thoai}} </td>
                </ng-container>

                <ng-container matColumnDef="so_giay_cndkkd">
                    <th mat-header-cell *matHeaderCellDef> Số giấy CNDKKD </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_giay_cndkkd}} </td>
                </ng-container>

                <ng-container matColumnDef="ngay_cap_gcndkkd">
                    <th mat-header-cell *matHeaderCellDef> Ngày cấp GCNDKKD </th>
                    <td mat-cell *matCellDef="let element"> {{element.ngay_cap_gcndkkd | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="loai_hinh_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Loại hình doanh nghiệp </th>
                    <td mat-cell *matCellDef="let element"> {{element.loai_hinh_doanh_nghiep}} </td>
                </ng-container>

                <ng-container matColumnDef="von_kinh_doanh">
                    <th mat-header-cell *matHeaderCellDef> Vốn kinh doanh </th>
                    <td mat-cell *matCellDef="let element"> {{element.von_kinh_doanh}} </td>
                </ng-container>

                <ng-container matColumnDef="ngay_bat_dau_kd">
                    <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu kinh doanh </th>
                    <td mat-cell *matCellDef="let element"> {{element.ngay_bat_dau_kd | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="so_lao_dong">
                    <th mat-header-cell *matHeaderCellDef> Số lao động </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_lao_dong}} </td>
                </ng-container>

                <ng-container matColumnDef="cong_suat_thiet_ke">
                    <th mat-header-cell *matHeaderCellDef> Công suất </th>
                    <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke}} </td>
                </ng-container>

                <ng-container matColumnDef="san_luong">
                    <th mat-header-cell *matHeaderCellDef> Sản lượng </th>
                    <td mat-cell *matCellDef="let element"> {{element.san_luong}} </td>
                </ng-container>

                <ng-container matColumnDef="tieu_chuan_san_pham">
                    <th mat-header-cell *matHeaderCellDef> Tiêu chuẩn sản phẩm </th>
                    <td mat-cell *matCellDef="let element"> {{element.tieu_chuan_san_pham}} </td>
                </ng-container>

                <ng-container matColumnDef="doanh_thu">
                    <th mat-header-cell *matHeaderCellDef> Doanh thu </th>
                    <td mat-cell *matCellDef="let element"> {{element.doanh_thu}} </td>
                </ng-container>

                <ng-container matColumnDef="quy_mo_tai_san">
                    <th mat-header-cell *matHeaderCellDef> Quy mô tài sản </th>
                    <td mat-cell *matCellDef="let element"> {{element.quy_mo_tai_san}} </td>
                </ng-container>

                <ng-container matColumnDef="loi_nhuan">
                    <th mat-header-cell *matHeaderCellDef> Lợi nhuận </th>
                    <td mat-cell *matCellDef="let element"> {{element.loi_nhuan}} </td>
                </ng-container>

                <ng-container matColumnDef="nhu_cau_ban">
                    <th mat-header-cell *matHeaderCellDef> Nhu cầu bán </th>
                    <td mat-cell *matCellDef="let element"> {{element.nhu_cau_ban}} </td>
                </ng-container>

                <ng-container matColumnDef="nhu_cau_mua">
                    <th mat-header-cell *matHeaderCellDef> Nhu cầu mua </th>
                    <td mat-cell *matCellDef="let element"> {{element.nhu_cau_mua}} </td>
                </ng-container>

                <ng-container matColumnDef="nhu_cau_hop_tac">
                    <th mat-header-cell *matHeaderCellDef> Nhu cầu hợp tác </th>
                    <td mat-cell *matCellDef="let element"> {{element.nhu_cau_hop_tac}} </td>
                </ng-container>

                <ng-container matColumnDef="email_sct">
                    <th mat-header-cell *matHeaderCellDef> Email SCT </th>
                    <td mat-cell *matCellDef="let element"> {{element.email_sct}} </td>
                </ng-container>

                <ng-container matColumnDef="so_lao_dong_sct">
                    <th mat-header-cell *matHeaderCellDef> Số lao động SCT </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_lao_dong_sct}} </td>
                </ng-container>

                <ng-container matColumnDef="cong_suat_thiet_ke_sct">
                    <th mat-header-cell *matHeaderCellDef> Công suất SCT </th>
                    <td mat-cell *matCellDef="let element"> {{element.cong_suat_thiet_ke_sct}} </td>
                </ng-container>

                <ng-container matColumnDef="san_luong_sct">
                    <th mat-header-cell *matHeaderCellDef> Sản lượng SCT </th>
                    <td mat-cell *matCellDef="let element"> {{element.san_luong_sct}} </td>
                </ng-container>

                <ng-container matColumnDef="chi_tiet_doanh_nghiep">
                    <th mat-header-cell *matHeaderCellDef> Chi tiết </th>
                    <td mat-cell *matCellDef="let element" id="jump">
                        <mat-icon (click)="OpenDetailCompany(element.mst)">search</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>