.mat-card.material {
  $backcolor_defaut: #1f7ed0;
  $white_default: white;
  $orgrange_default: orangered;
  .mat-card-header {
    .mat-card-title {
      strong {
        color: $backcolor_defaut;
      }
    }
  }
  .mat-card-content {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: 0px;
      margin-left: 0px;
      height: 42;
      ::ng-deep .mat-form-field {
        padding: 0px;
        // border: 1px solid;
        // border-radius: 4px;
        .mat-form-field-wrapper {
          padding-bottom: 0px !important;
          .mat-form-field-flex {
            padding: 1px;
            background-color: $white_default;
          }
          .mat-form-field-underline {
            display: none;
          }
        }
        .mat-label {
          font-size: 20px;
        }
        input.mat-input-element {
          border: none;
          font-size: 15px;
          width: 100%;
          height: 100%;
          padding: 3px;
          background-color: $white_default;
        }
      }
      .button-control {
        text-align: right;
        button.mat-raised-button {
          background-color: $backcolor_defaut !important;
          color: $white_default !important;
          margin: auto 5px;
          padding: auto 2px auto 0px;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .mat-icon {
            margin: auto 3px auto 0px;
          }
          span {
            margin: auto 3px auto 0px;
          }
          .special {
            background-color: $orgrange_default;
          }
          label.btn.btn-default {
            background-color: $backcolor_defaut !important;
            color: $white_default !important;
            margin: auto 5px;
            vertical-align: middle;
            padding: auto 2px auto 0px;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            .mat-icon {
              margin: auto 3px auto 0px;
            }
          }
        }
        button.mat-raised-button:first-child {
          margin-left: 0px;
        }
        button.mat-raised-button.special {
          background-color: $orgrange_default !important;
        }
        button.mat-raised-button.reverse {
          background-color: $white_default !important;
          color: $backcolor_defaut !important;
          border: 1px solid;
          border-radius: 4px;
        }
        [hidden] {
          display: none !important;
        }
        .custom-file {
          width: 200px;
          height: 50px;
          text-align: left !important;
        }
      }
      .button-control.-align-right {
        text-align: left;
      }
    }
      ::ng-deep table.mat-table {
        width: 100%;
        border: 1px solid black;
        margin-top: 5px;
        th,
        td {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
        tr.mat-footer-row,
        tr.mat-row {
          min-height: 30px;
        }
        .mat-header-cell {
          background-color: $backcolor_defaut;
          color: $white_default;
          border: 1px solid black;
          font-weight: bold;
          font-size: 15px;
          text-align: center;
        }
        .mat-cell {
          border: 1px solid black;
          font-size: 15px;
          height: 50px;
          text-align: center;
          input {
            border: none;
            font-size: 15px;
            width: 100%;
            height: 100%;
            padding: 3px;
          }
          input:focus {
            background-color: $backcolor_defaut;
            color: $white_default;
            font-size: 1.2em;
          }
        }
        .stt {
          background-color: #dcdcdc;
        }
        select {
          border: none;
          font-size: 15px;
          width: 100%;
          height: 100%;
          padding: 3px;
          text-align-last: center;
        }
      }
    }
  #import_excel {
    background-color: $white_default;
    color: $backcolor_defaut;
    padding: 2px 7px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
