<mat-card>
    <mat-card-content>
        <div class="example-action-buttons">
            <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button> &nbsp;
            <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start bg-primary">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">1 Tổng số cửa hàng: <strong>0</strong></h5>
                                </div>
                                <p class="mb-1"></p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">2. hình thức kinh doanh:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    2.1 Tổng số cửa hàng tạp hóa thực phẩm truyền thống: <strong>0</strong>
                                    <br> 2.2 Tổng số cửa hàng chuyên doanh: <strong>0</strong>
                                    <br> 2.3 Tổng số cửa hàng tiện lợi: <strong>0</strong>
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start bg-warning">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">3. Tổng số cửa hàng trong huyện <strong>...</strong> là:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start bg-warning">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">4. Thống kê số lượng siêu thị theo năm:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    4.1 Tổng số cửa hàng hoạt động trong năm <strong>...</strong> là: <strong>0</strong>
                                    <br> 4.2 Chênh lệch số cửa hàng hoạt động trong năm <strong>...</strong> so với năm trước là:
                                    <strong>0</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kiểu sắp xếp</mat-label>
                            <mat-select (selectionChange)="sortHeaderCondition($event.value)" [value]="dientich">
                                <mat-option *ngFor='let header of headerArray' [value]='header'>{{header}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3 my-auto">
                        <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">Hết hạn ĐKKD
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-3 col-lg-3">
                      <mat-form-field appearance="outline">
                          <mat-label>Kỳ dữ liệu</mat-label>
                          <mat-select (selectionChange)="getDanhSachBuonBanLeXangDau($event.value)">
                              <mat-option *ngFor='let year of years' [value]='year'>{{year}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <div class="col-3 col-lg-3">
                      <mat-form-field appearance="outline">
                          <mat-label>Địa bàn</mat-label>
                          <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                              <mat-option *ngFor='let district of districts' [value]='district.id'>
                                  {{district.ten_quan_huyen}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <div class="col-3 col-lg-3 my-auto">
                      <mat-checkbox (change)="applyExpireCheck($event)" [ngModel]="isChecked">DN hết hạn
                      </mat-checkbox>
                  </div> -->
                </div>

                <div class="auto mat-elevation-z8" *ngIf="dataSourceHuyenThi.data.length; else ShowEmpty">
                    <mat-form-field class="filter">
                        <mat-label>Lọc dữ liệu</mat-label>
                        <input matInput (keyup)="applyFilter1($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSourceHuyenThi">

                        <ng-container matColumnDef="index">
                            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>

                        <ng-container matColumnDef="tencuahang">
                            <th mat-header-cell style="text-align: center;" *matHeaderCellDef>Tên cửa hàng tiện lợi</th>
                            <td mat-cell *matCellDef="let element"> {{element.tencuahang}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sanphamkinhdoanh">
                            <th mat-header-cell *matHeaderCellDef> Sản phẩm kinh doanh </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.sanphamkinhdoanh}} </td>
                        </ng-container>

                        <ng-container matColumnDef="scndkkd">
                            <th mat-header-cell *matHeaderCellDef> Số CNĐKKD </th>
                            <td mat-cell *matCellDef="let element">{{element.scndkkd}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ngaycap">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ngaycap|date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="noicap">
                            <th mat-header-cell *matHeaderCellDef> Nơi cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.noicap}} </td>
                        </ng-container>

                        <ng-container matColumnDef="diachi">
                            <th mat-header-cell *matHeaderCellDef> Địa chỉ </th>
                            <td mat-cell *matCellDef="let element"> {{element.diachi}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sogcn">
                            <th mat-header-cell *matHeaderCellDef> Số giấy chứng nhận </th>
                            <td mat-cell *matCellDef="let element"> {{element.sogcn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ngaycaogcn">
                            <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngaycaogcn|date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ngayhethangcn">
                            <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
                            <td mat-cell *matCellDef="let element"> {{element.ngayhethangcn|date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sdtlienhe">
                            <th mat-header-cell *matHeaderCellDef> SĐT liên hệ </th>
                            <td mat-cell *matCellDef="let element"> {{element.sdtlienhe}} </td>
                        </ng-container>

                        <ng-container matColumnDef="stt1">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1">
                        </ng-container>

                        <ng-container matColumnDef="tch">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1"></th>
                        </ng-container>

                        <ng-container matColumnDef="spkd">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1"></th>
                        </ng-container>

                        <ng-container matColumnDef="cndkkd">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="3">
                                Chứng nhận đăng ký KD</th>
                        </ng-container>

                        <ng-container matColumnDef="diachim">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1">
                        </ng-container>

                        <ng-container matColumnDef="cnddkattp">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="3">
                                Giấy chứng nhận đủ điều kiện ATTP</th>
                        </ng-container>

                        <ng-container matColumnDef="sdtm">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="1">
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['stt1','tch', 'spkd','cndkkd','diachim','cnddkattp','sdtm']">
                        </tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>


                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
</mat-card>