<mat-card>
    <mat-card-content>
        <div class="example-action-buttons">
            <button mat-raised-button color="primary" (click)="accordion.openAll()">Mở Tất Cả</button>
            <button mat-raised-button color="warn" (click)="accordion.closeAll()">Đóng tất cả</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start bg-primary">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">1 Tổng số chợ: <strong>{{soLuongCho | formatNumber}}</strong></h5>
                                </div>
                                <p class="mb-1"></p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">2. Chợ thành thị/nông thôn:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    2.1 Tổng số chợ nông thôn: <strong>0</strong>
                                    <br> 2.2 Tổng số chợ thành thị: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">3. Hạng chợ:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    3.1 Tổng số chợ hạng 1: <strong>0</strong>
                                    <br> 3.2 Tổng số chợ hạng 2: <strong>0</strong>
                                    <br> 3.3 Tổng số chợ hạng 3: <strong>0</strong>
                                    <br> 3.4 Tổng số chợ hạng 4: <strong>0</strong>
                                    <br> 3.5 Tổng số chợ hạng 5: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">4. Tính chất công trình:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    4.1 Tổng số chợ Kiên cố: <strong>0</strong>
                                    <br> 4.2 Tổng số chợ bán kiên cố: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">5. Hình thức kinh doanh:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    5.1 Tổng số chợ bán lẻ: <strong>0</strong>
                                    <br> 5.2 Tổng số chợ bán sỉ: <strong>0</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">6. Hình thức quản lý:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    5.1 Tổng số chợ nhà nước: <strong>0</strong>
                                    <br> 5.2 Tổng số chợ xã hội hóa: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">7. Vốn đầu tư hiện tại:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    7.1 Tổng số vốn đầu tư: <strong>0</strong>
                                    <br> 7.2 Tổng số vốn đầu tư ngân sách: <strong>0</strong>
                                    <br> 7.3 Tổng số vốn đầu tư xã hội hóa: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">8. Vốn đầu tư kế hoạch:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    8.1 Tổng số vốn đầu tư kế hoạch: <strong>0</strong>
                                    <br> 8.2 Tổng số vốn đầu tư kế hoạch ngân sách: <strong>0</strong>
                                    <br> 8.3 Tổng số vốn đầu tư kế hoạch xã hội hóa: <strong>0</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start bg-warning">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">9. Thống kê chợ theo năm:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    9.1 Tổng số chợ hình thành trong năm <strong>...</strong> là: <strong>0</strong>
                                    <br> 9.2 Chênh lệch số chợ hình thành trong năm <strong>...</strong> so với năm trước là: <strong>0</strong>
                                    <br> 9.3 Tổng số chợ xây mới trong năm <strong>...</strong> là: <strong>0</strong>
                                    <br> 9.4 Chênh lệch số chợ xây mới trong năm <strong>...</strong> so với năm trước là: <strong>0</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Kiểu sắp xếp</mat-label>
                            <mat-select (selectionChange)="sortHeaderCondition($event.value)" [value]="dientich">
                                <mat-option *ngFor='let header of headerArray' [value]='header'>{{header}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyDistrictFilter($event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.id'>
                                    {{district.ten_quan_huyen}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="auto mat-elevation-z8" *ngIf="dataSourceHuyenThi.data.length; else ShowEmpty">
                    <mat-form-field class="filter">
                        <mat-label>Lọc tên siêu thị</mat-label>
                        <input matInput (keyup)="applyFilter1($event)" placeholder="" #input>
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSourceHuyenThi">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
                        </ng-container>
                        <ng-container matColumnDef="tenhuyenthi">
                            <th mat-header-cell *matHeaderCellDef> Huyện, thị xã, thành phố </th>
                            <td mat-cell *matCellDef="let element"> {{element.huyen}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tongsocho">
                            <th mat-header-cell *matHeaderCellDef>Tổng số chợ </th>
                            <td mat-cell *matCellDef="let element"> {{element.tongsocho}} </td>
                        </ng-container>
                        <ng-container matColumnDef="chohang1">
                            <th mat-header-cell *matHeaderCellDef> Chợ hạng 1 </th>
                            <td mat-cell *matCellDef="let element"> {{element.chohang1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="chohang2">
                            <th mat-header-cell *matHeaderCellDef> Chợ hạng 2 </th>
                            <td mat-cell *matCellDef="let element"> {{element.chohang2}} </td>
                        </ng-container>
                        <ng-container matColumnDef="chohang3">
                            <th mat-header-cell *matHeaderCellDef> Chợ hạng 3 </th>
                            <td mat-cell *matCellDef="let element"> {{element.chohang3}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="headerArray"></tr>
                        <tr mat-row *matRowDef="let row; columns: headerArray;let i = index"></tr>
                    </table>


                </div>
                <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>