<mat-card class="material">
    <mat-card-content>
        <div class="button-control">
            <button mat-raised-button (click)="accordion.openAll()">
                <mat-icon>flip_to_front</mat-icon> Mở Tất Cả
            </button> &nbsp;
            <button mat-raised-button (click)="accordion.closeAll()">
                <mat-icon>flip_to_back</mat-icon> Đóng tất cả
            </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> show_chart</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU TỔNG HỢP</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">1 Tổng số chợ: <strong>{{tongSoCho}}</strong></h5>
                                </div>
                                <p class="mb-1"></p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">2. Chợ thành thị/nông thôn:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    2.1 Chợ nông thôn: <strong>{{choNongThon}}</strong>
                                    <br> 2.2 Chợ thành thị: <strong>{{choThanhThi}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">3. Hạng chợ:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    3.1 Chợ hạng 1: <strong>{{choHangI}}</strong>
                                    <br> 3.2 Chợ hạng 2: <strong>{{choHangII}}</strong>
                                    <br> 3.3 Chợ hạng 3: <strong>{{choHangIII}}</strong>
                                    <br> 3.4 Chợ hạng 4: <strong>{{choHangIV}}</strong>
                                    <br> 3.5 Chợ hạng 5: <strong>{{choHangV}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">4. Tính chất công trình:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    4.1 Chợ Kiên cố: <strong>{{choKienCo}}</strong>
                                    <br> 4.2 Chợ bán kiên cố: <strong>{{choBanKienCo}}</strong>
                                    <br> 4.3 Chợ tạm: <strong>{{choTam}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">5. Hình thức kinh doanh:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    5.1 Chợ bán lẻ: <strong>{{choBanLe}}</strong>
                                    <br> 5.2 Chợ bán sỉ: <strong>{{choBanSi}}</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">6. Hình thức quản lý:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    5.1 Chợ nhà nước: <strong>{{choNhaNuoc}}</strong>
                                    <br> 5.2 Chợ xã hội hóa: <strong>{{choXaHoiHoa}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">7. Vốn đầu tư hiện tại:</h5>
                                </div>
                                <p class="mb-1 config-p">7.1 Vốn đầu tư: <strong>{{vonDauTu}}</strong>
                                    <br> 7.2 Vốn đầu tư ngân sách: <strong>{{vonDauTuNganSach}}</strong>
                                    <br> 7.3 Vốn đầu tư xã hội hóa: <strong>{{vonDauTuXaHoiHoa}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">8. Vốn đầu tư kế hoạch:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    8.1 Vốn đầu tư kế hoạch: <strong>{{vonDauTuKeHoach}}</strong>
                                    <br> 8.2 Vốn đầu tư kế hoạch ngân sách: <strong>{{vonDauTuKeHoachNganSach}}</strong>
                                    <br> 8.3 Vốn đầu tư kế hoạch xã hội hóa:
                                    <strong>{{vonDauTuKeHoachXaHoiHoa}}</strong>
                                </p>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">9. Thống kê xây dựng:</h5>
                                </div>
                                <p class="mb-1 config-p">
                                    9.1 Chợ cải tạo trong năm <strong>{{year}}</strong> là:
                                    <strong>{{choCaiTao}}</strong> tăng/giảm so với năm {{year}} là:
                                    <strong>{{soSanhChoCaiTao}}</strong>
                                    <br> 9.2 Chợ xây mới trong năm <strong>{{year}}</strong> là:
                                    <strong>{{choXayMoi}}</strong> tăng/giảm so với năm {{year}} là:
                                    <strong>{{soSanhChoXayMoi}}</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>folder_open</mat-icon>
                        &nbsp;
                        <strong>DỮ LIỆU CHI TIẾT</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa bàn</mat-label>
                            <mat-select (selectionChange)="applyCondictionFilter('1',$event)" multiple>
                                <mat-option *ngFor='let district of districts' [value]='district.name'>
                                    {{district.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hạng chợ</mat-label>
                            <mat-select (selectionChange)="applyCondictionFilter('2', $event)" multiple>
                                <mat-option *ngFor='let marketRank of marketRanks' [value]='marketRank.key'>
                                    {{marketRank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Tính chất công trình</mat-label>
                            <mat-select (selectionChange)="applyCondictionFilter('3',$event)" multiple>
                                <mat-option *ngFor='let business of businesses' [value]='business.name'>
                                    {{business.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3 col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Hình thức quản lý</mat-label>
                            <mat-select (selectionChange)="applyCondictionFilter('4',$event)" multiple>
                                <mat-option *ngFor='let managerType of managerTypes' [value]='managerType.key'>
                                    {{managerType.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="dataSource.data.length; else ShowEmpty" #TABLE class="layout">
                    <table mat-table [dataSource]="dataSource" class="table-layout">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>STT</th>
                            <td mat-cell *matCellDef="let element; let i = index" class="stt1">{{ i + 1 }}</td>
                        </ng-container>
                        <ng-container *ngFor="let column of attributes; let colIndex = index" [cdkColumnDef]="column.is_default === ATTRIBUTE_DEFAULT? 
                                column.attr_code.toLowerCase() : 
                                column.fld_code.toLowerCase()">
                            <!-- Nếu là cột default thì lấy attr_code (cột chỉ  tiêu và đơn vị), 
                                    ngược lại thì lấy cột fld_code (cột dữ liệu) -->
                            <th mat-header-cell *cdkHeaderCellDef> {{ column.attr_name }}</th>
                            <td [ngClass]="column.attr_code == ATTRIBUTE_CODE ? 'chitieu' : column.is_default == 1 ? 
                                'not-input' : 'input'" mat-cell *cdkCellDef="let row; let rowIndex = index">
                                <!-- Trường hợp cột tên chỉ tiêu thì  dùngclass chitieu,
                                    nếu là cột default khác thì dùng not-input, các cột chỉ tiêu bình thường thì input-->
                                <div
                                    [ngClass]="{'not-input-r': column.attr_code != ATTRIBUTE_CODE && column.attr_code != UNIT_CODE}">
                                    {{row[column.is_default === 1? column.attr_code.toLowerCase(): column.fld_code.toLowerCase()]}}
                                </div>
                            </td>
                        </ng-container>
                        <div *ngFor="let table of tableMergeHader">
                            <ng-container *ngFor="let mergeHeader of table.headerMerge;"
                                [cdkColumnDef]="mergeHeader.colName">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"
                                    [attr.colspan]="mergeHeader.colLenght">{{mergeHeader.colText}} </th>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="table.headerColName;"> </tr>
                        </div>

                        <tr mat-header-row *matHeaderRowDef="attributeHeaders; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: attributeHeaders; let i = index"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                <ng-template #ShowEmpty>
                    <h1>Không có dữ liệu</h1>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>